name: Build and test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: Install dependencies
        run: dotnet restore src/port.csproj
      - name: Build
        run: dotnet build src/port.csproj --configuration Release --no-restore
      - name: Test
        run: dotnet test src/port.csproj --no-restore --verbosity normal
